[user]
    name = Khudyashev Ivan
    email = bahek1983@gmail.com
[core]
    editor = vim
[alias]
    st = status -s
    logtree = log --all --decorate --oneline --graph
    loginfo = log --all --decorate --pretty=format:'%h.%an.%ad - %s' --oneline
[color]
    ui = true
